@font-face {
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: normal;
    src: local('Trebuchet MS'), url('fonts/trebuc.woff') format('woff');
}
    

@font-face {
    font-family: 'Trebuchet MS Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Trebuchet MS Italic'), url('fonts/Trebuchet-MS-Italic.woff') format('woff');
}

body {
    font-family: 'Trebuchet MS';
}

.titlebar {
  background: black;
  border-bottom: 2px solid white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}